* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffd60a;
    font-family: Poppins;
}

body {
    background-color: #001d3d;
}

#container {
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;

}

#square-container {
    text-align: center;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 2em 0 0;
    background-color: #ffd60a;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.35rem;
    height: 1.35rem;
    background: #001d3d;
}

#square {
    display: block;
    padding: 5em;
    width: 100%;
    height: calc(width);
    margin: 1.5em auto;
    background-color: #ffc300;
}

#copy-btn {
    padding: .8rem 1rem;
    color: #001d3d;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

.radius-values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #003566;
    margin: .5em auto;
    border-radius: .5em;
    padding-bottom: 1em;
}

.radius-block {
    padding: .15em;
}

.radius-block > label {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 .5em;

}

.radius-values-all {

    background-color: #003566;
    margin: .5em auto;
    border-radius: .5em;
    padding-bottom: 1em;
}

.radius-values-all > label {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 .5em;
}